/* загрузка
.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2a9d8f;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2;
  }

  100% {
    box-shadow: 0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2,
            -70px 90px 0 rgba(0, 0, 0, 0);
  }
}
*/
html{
    zoom: 100%;
    height: 100%;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #FFB7B7;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    height: 467px;
    width: 100%;
    background-color: #EC4BB5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    flex: 1 1 auto;
}

nav {
    height: 77px;
    background-color:#FF1384;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.text_red{
    color: #FF0000;
    text-decoration: none;
}
.nav-link{
    height: 23px;
    color: #FFF;
    font-family: ZCOOL XiaoWei;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link:hover{
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 5px 5px  black;
    transition: 0.5s;
}

.info{
    text-align: center;
}

.info h1{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 73px;
    margin-top: 73px;
}

.info a{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #B0009F;
    width: 220px;
    height: 55px;
    text-decoration: none;
    padding: 15px 40px;
    
}

.all-divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}
.direction-div {
    width: 357px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.directions h2 {
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 167px;
}
.direction-info h3 {
    color: #F00;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 70px;
}
.direction-info {
    height: 800px;
}
.direction-text {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-grow: 1;
    min-height: 500px;
}

.try {
    text-decoration: none;
    background-color:#B5008E;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
    box-shadow: 5px 5px 5px 0 rgb(42, 41, 45);
    margin: 5px;
}
.try:hover {
    background-color: #f121cf;
    color:white;
    border: 7px  ridge #ff91f6;
    box-shadow: 5px 5px 5px 0 rgb(255, 235, 235);
    display: block;
}


.about-us{
    padding: 95px;
    display: flex;
    justify-content: space-between;
}
.about-us h2{ 
    color: #000;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.about-us p{ 
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-us-text{
    width: 574px;
    margin-bottom: 25px;
}

.contacts h2{
    color: #B57957;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 120px;
}
.contacts h3{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.contacts-div p{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 85px;
}

.contacts{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer ul{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    -webkit-text-stroke: 1px black;
}
footer{
    background-color: #FF1384;    
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-section{
    width: 45%;
    margin-left: 100px;

}

.carousel-section img{
    border-radius: 50px;
}
.ankets{
    width: 45%;
    background: linear-gradient(180deg, #9F008F 0%, #FF00E6 52.1%, #9F008F 100%);
    border-radius: 40px;
    padding: 30px;
    margin-left: 750px;
    color: #ffffff;
}

.but-zayvka{
    text-decoration: none;
    padding: 5px 30px;
    border: 2px solid black;
    color: white;
    background-color: #B848FC;
    border-radius: 15px;
    
}

.div-but-zayvka{
    margin-top: 20px;
    text-align: center;
}

/* From Uiverse.io by rishichawda */ 
/* The switch - the box around the slider */
#theme-toggle-button {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 7em;
    cursor: pointer;
  }
  
  /* Hide default HTML checkbox */
  #toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #container,
  #patches,
  #stars,
  #button,
  #sun,
  #moon,
  #cloud {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
  }
  
  /* night sky background */
  #toggle:checked + svg #container {
    fill: #2b4360;
  }
  
  /* move button to right when checked */
  #toggle:checked + svg #button {
    transform: translate(28px, 2.333px);
  }
  
  /* show/hide sun and moon based on checkbox state */
  #sun {
    opacity: 1;
  }
  
  #toggle:checked + svg #sun {
    opacity: 0;
  }
  
  #moon {
    opacity: 0;
  }
  
  #toggle:checked + svg #moon {
    opacity: 1;
  }
  
  /* show or hide background items on checkbox state */
  #cloud {
    opacity: 1;
  }
  
  #toggle:checked + svg #cloud {
    opacity: 0;
  }
  
  #stars {
    opacity: 0;
  }
  
  #toggle:checked + svg #stars {
    opacity: 1;
  }
  ul{
    list-style: none;
  }
  
.dropdown-menu{
  background-color: #FFB7B7;
}
/* Темная тема*/
body.dark-theme {
  background-color: rgb(130, 61, 115);
  color: white;
}


body.dark-theme .direction-text {
  color: white;
}

body.dark-theme h1 {
  color: white;
}

body.dark-theme h2 {
  color: white;
}

#theme-toggle-button {
  cursor: pointer;
}

#toggle {
  display: none;
}
